<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
  <title><%= context.title %></title>
  <link rel="icon" href="<%= context.publicPath %>favicon.ico" type="image/x-icon">
<!--
  <link rel="stylesheet" type="text/css" href="<%= context.publicPath %>eui/common/fonticon/css/ecmp-all-min.css">
  <link rel="stylesheet" type="text/css" href="<%= context.publicPath %>eui/blue/jqgrid/css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="<%= context.publicPath %>eui/blue/jqgrid/css/ui.jqgrid.min.css">
  <link rel="stylesheet" type="text/css" href="<%= context.publicPath %>eui/blue/eui.unmin.css">
  <script type="text/javascript" src="<%= context.publicPath %>eui/common/jquery-1.8.min.js"></script>
  <script type="text/javascript" src="<%= context.publicPath %>eui/blue/eui.unmin.js"></script>
  <script type="text/javascript" src="<%= context.publicPath %>eui/blue/eui_zh-cn.js"></script>
  <script type="text/javascript" src="<%= context.publicPath %>eui/blue/jqgrid/jquery.jqGrid.js"></script>

  <link rel="stylesheet" type="text/css"
        href="<%= context.publicPath %>flow/styles/css/WorkFlowView.css">
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/data/flow_node.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/data/flow_uel_btn.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/ext/jsPlumb/jsplumb-2.2.10.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/WorkFlowView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/FlowNodeSettingView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/UELSettingView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/WorkFlowMoreInfoView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/LookWorkFlowView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/LookWorkFlowMoreInfoView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/LookFlowNodeSettingView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/LookUELSettingView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/ConfigWorkFlowView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/scripts/design/ChooseUserView.js"></script>
  <script type="text/javascript"
          src="<%= context.publicPath %>flow/lang/lang.js"></script>
  <script type="text/javascript">
    // /flow-service
      // var _ctxPath = "/flow-web";
      var _ctxPath = "/flow-service";
      var _basePath = "";
  </script> -->
</head>
<body>
<noscript>Sorry, we need js to run correctly!</noscript>
<div id="<%= context.config.mountElementId %>"></div>
</body>
</html>
